<div class="alert alert-@Type alert-dismissible fade show" role="alert">
    <div class="d-flex align-items-center">
        <i class="fas @Icon text-@Type fs-2"></i>
        <span class="ms-2 fs-5 fw-bold">@Title</span>
    </div>
    <div class="mt-2">
         <span>@Message</span>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>