@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="form-group">
    <div class="selectgroup selectgroup-secondary selectgroup-pills">
        <label class="selectgroup-item">
            <input type="radio" name="icon-input" value="pt" class="selectgroup-input" onchange=@(() => SetCulture("pt-BR")) checked="@IsChecked("pt-BR")" />
            <span class="selectgroup-button selectgroup-button-icon">
                <img src="img/flags/brazil-flag-circular.svg" alt="Brazil flag" width="30" />
            </span>
        </label>
        <label class="selectgroup-item">
            <input type="radio" name="icon-input" value="en" class="selectgroup-input" onchange=@(() => SetCulture("en-US")) checked="@IsChecked("en-US")" />
            <span class="selectgroup-button selectgroup-button-icon">
                <img src="img/flags/usa-flag-circular.svg" alt="United States flag" width="30" />
            </span>
        </label>
    </div>
</div>