@inject NavigationManager NavigationManager

<h3>Redirecionando para a página de login...</h3>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/Login");
    }
}
