@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="wrapper">            
            <Sidebar />
            <div class="main-panel">
                <Topbar />
                <div class="container">
                    <div class="page-inner">
                        @Body                    
                    </div>                    
                </div>  
                <Footer />
            </div>
        </div>
    </Authorized>
    <Authorizing>
        <Loading />
    </Authorizing>
    <NotAuthorized>
        <LoginRedirect />
    </NotAuthorized>
</AuthorizeView>
