@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="wrapper">
            <Sidebar />
            <div class="main-panel">
                @Body
            </div>
        </div>
    </Authorized>
    <Authorizing>
        <Loading />
    </Authorizing>
    <NotAuthorized>
        <LoginRedirect />
    </NotAuthorized>
</AuthorizeView>
