@page "/logout"
@layout PublicLayout
@attribute [AllowAnonymous]
@inject IStringLocalizer<Resource> Localizer

<PageTitle>SM - @Localizer["Logout"]</PageTitle>

<div class="d-flex align-items-center">
    <div class="alert alert-info" role="alert">
        <h4>@Localizer["LogoutSessionEnded"]</h4>
        <ButtonComponent ButtonType="@ButtonTypes.button" ButtonClass="btn-primary" IconClass="fa-sign-in-alt" ButtonText=@Localizer["LogoutToLoginPage"]
                         IsLoading="false" OnClickCallback="RedirectToLogin" />
    </div>    
</div>