<div class="form-check d-flex align-items-center">
    <InputCheckbox id=@Id class="form-check-input" type="checkbox" @bind-Value="Value" @onchange="HandleChange" disabled=@Disabled />
    <label class="form-check-label" for=@Id>@Label</label>
    <ValidationMessage For=@ValueExpression />
</div>